---
import CallToAction from '../components/CallToAction.astro';
import Layout from '../layouts/Layout.astro';
---
<Layout title="Contacto">
  <div class="flex flex-wrap justify-center m-20 flex-col">
    <h2>Interesado en algun tratamiento?</h2>
    <div class="bg-pink-300 w-1/2">
      <CallToAction href="mailto:munaydepyspa@gmail.com">
        Envianos un mensaje
      </CallToAction>
    </div>
  </div>
</Layout>
