---
import Layout from "../layouts/Layout.astro";
import { BackgroundBlogCard } from "../components/CardIntro";
---

<Layout title="Munay">
  <main>
    <BackgroundBlogCard />
    <div class="p-4">
      <a href="#">
        <h3 class="text-lg font-medium text-gray-900">Aqui te Consentimos</h3>
      </a>

      <p class="mt-2 text-sm/relaxed text-gray-500">
        Y Dios me hizo mujer, de pelo largo, ojos, nariz y boca de mujer. Con
        curvas y pliegues y suaves hondonadas y me cavó por dentro, me hizo un
        taller de seres humanos. Tejió delicadamente mis nervios y balanceó con
        cuidado el número de mis hormonas. Compuso mi sangre y me inyectó con
        ella para que irrigara todo mi cuerpo; nacieron así las ideas, los
        sueños, el instinto. Todo lo que creó suavemente a martillazos de
        soplidos y taladrazos de amor, las mil y una cosas que me hacen mujer
        todos los días por las que me levanto orgullosa todas las mañanas y
        bendigo mi sexo.
      </p>
    </div>
  </main>
</Layout>
