---
import Layout from "../layouts/Layout.astro";
import { Tratamiento } from "../components/Tratamientos";

const tratamientos = [
  {
    price: "$45",
    title: "Masaje relajante Completo",
    img: "/1.jpg",
  },
  {
    price: "$25",
    title: "Masaje relajante Parcial",
    img: "/1.jpg",
  },
  {
    price: "",
    title: "Paquetes de mantenimiento post-operatorio",
    img: "/1.jpg",
  },
];
---

<Layout title="Masajes">
  <div class="tratamiento flex flex-wrap justify-center m-20">
    {
      tratamientos.map((tratamiento) => (
        <Tratamiento
          price={tratamiento.price}
          title={tratamiento.title}
          image={tratamiento.img}
        />
      ))
    }
  </div>
</Layout>
